@font-face {
    font-family: "typo-hey-arnold";
    src: url(../recursos/tipografias/typo-hey-arnold/ARNORG__.TTF);
}

@font-face {
    font-family: "typo-arnold";
    src: url(/recursos/tipografias/typo-arnold/ADLaM_Display/ADLaMDisplay-Regular.ttf)
}

$coloruno: #cf3401;
$colordos: #ffb96e;
$colortres: #fab433;
$colorcuatro: #a3c657;
$colorcinco: #fef190;
$colorseis: #f9c461;
$colorsiete: #FFCD00;
$colorocho: #ed846c;
$colornueve: #ffe479;


